@model WebsiteBanSach.Models.User

@{
    ViewBag.Title = "UserProfile";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@{
    if (ViewBag.Permission == null)
    {
        Response.Redirect("/Admin/loi/Er403");
    }
}
<!-- page content -->
<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left" style="font-size:25px">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/Admin/trang-chu">Trang chủ</a></li>
                        <li class="breadcrumb-item">Người dùng</li>
                        @if (Model.UserGroupID != "Member")
                        {
                            <li class="breadcrumb-item"><a href="/Admin/trang-chu/nguoi-dung/danh-sach-quan-tri-vien">Danh sách quản trị viên</a></li>
                        }
                        else
                        {
                            if (Model.UserGroupID != "StandbyAccount")
                            {
                                <li class="breadcrumb-item"><a href="/Admin/trang-chu/nguoi-dung/danh-sach-nguoi-dung-chua-co-nhom">Danh sách người dùng chưa có nhóm</a></li>
                            }
                            else
                            {
                                <li class="breadcrumb-item"><a href="/Admin/trang-chu/nguoi-dung/danh-sach-khach-hang">Danh sách khách hàng</a></li>
                            }
                        }
                        <li class="breadcrumb-item"><a href="/Admin/trang-chu/nguoi-dung/ho-so-nguoi-dung-@Model.ID">Hồ sơ người dùng @Model.Name</a></li>
                    </ol>
                </nav>
            </div>
            @*<div class="title_right">
                    <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Search for...">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button">Go!</button>
                            </span>
                        </div>
                    </div>
                </div>*@
        </div>

        <div class="clearfix"></div>
        @Html.Partial("_ProfilePartial")
    </div>
</div>
<!-- /page content -->
@section scripts
{
    <!-- morris.js -->
    <script src="~/Areas/Admin/Content/vendors/raphael/raphael.min.js"></script>
    <script src="~/Areas/Admin/Content/vendors/morris.js/morris.min.js"></script>
    <!-- bootstrap-progressbar -->
    <script src="~/Areas/Admin/Content/vendors/bootstrap-progressbar/bootstrap-progressbar.min.js"></script>
    <!-- bootstrap-daterangepicker -->
    <script src="~/Areas/Admin/Content/vendors/moment/min/moment.min.js"></script>
    <script src="~/Areas/Admin/Content/vendors/bootstrap-daterangepicker/daterangepicker.js"></script>
    <!-- Datatables -->
    <script src="/Areas/Admin/Content/vendors/datatables.net/js/jquery.dataTables.js"></script>
    <script src="/Areas/Admin/Content/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
    <script src="/Areas/Admin/Content/vendors/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
    <script src="/Areas/Admin/Content/vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js"></script>
    <script src="/Areas/Admin/Content/vendors/datatables.net-buttons/js/buttons.flash.min.js"></script>
    <script src="/Areas/Admin/Content/vendors/datatables.net-buttons/js/buttons.html5.min.js"></script>
    <script src="/Areas/Admin/Content/vendors/datatables.net-buttons/js/buttons.print.min.js"></script>
    <script src="/Areas/Admin/Content/vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js"></script>
    <script src="/Areas/Admin/Content/vendors/datatables.net-keytable/js/dataTables.keyTable.min.js"></script>
    <script src="/Areas/Admin/Content/vendors/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
    <script src="/Areas/Admin/Content/vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js"></script>
    <script src="/Areas/Admin/Content/vendors/datatables.net-scroller/js/dataTables.scroller.min.js"></script>
    <script src="/Areas/Admin/Content/vendors/jszip/dist/jszip.min.js"></script>
    <script src="/Areas/Admin/Content/vendors/pdfmake/build/pdfmake.min.js"></script>
    <script src="/Areas/Admin/Content/vendors/pdfmake/build/vfs_fonts.js"></script>

}
