<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Đơn hàng của bạn đã được đặt thành công</title>
</head>
<body>
    Mã đơn hàng: {{MaDonHang}}
    <br />
    Số lượng sản phẩm: {{SoLuongSP}}
    <br />
    Tổng tiền đơn hàn: {{TongTien}}
    <br />
    Xem chi tiết đơn hàng của bạn tại đây (Phải đăng nhập để có thể xem được): {{LinkChiTietDonHang}}
    <br />
    Đơn hàng của bạn sẽ được xử lý trong vòng 7 ngày làm việc. cảm ơn bạn đã mua sắm lại BenVo. Mọi thắc mắc hãy vui lòng trả lời tại mail này để được giải đáp sớm nhất.
</body>
</html>